@model MyPlaceProject.Models.Commande

@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-sm-6">
        <div class="single category" ">
            <h3 class="side-title">MENU</h3>
            @Html.Action("Produit", "ClientSelect")
        </div>
    </div>
    <div class="col-sm-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Déplacez vos commandes ici !</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group well" id="panier">
                    <label class="control-label">Liste commande</label>
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Categorie</th>
                                    <th>Prix Unitaire</th>
                                    <th>Quantité</th>
                                    <th>Prix Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach(var item in Model.DetailCommande)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Produit.Nom)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Produit.Categorie.Nom)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Produit.Prix)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Quantite)</td>
                                            <td>@(item.Quantite*item.Produit.Prix)</td>
                                            <td><input type="button" class="delete-btn btn btn-md btn-danger" value="Supprimer"></td>
                                        </tr>
                                    }*@
                            </tbody>
                        </table>
                        <p>Total: Ar <span class="total">0</span></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/custom-cart.js")
}
