@model List<MyPlaceProject.Models.Produit>

<div class="gtco-section">
    <div class="gtco-container">
        <ul id="list-menu" class="row list-unstyled list-inline row">
            @foreach (var item in Model)
            {
                <li class="col-lg-4 col-md-4 col-sm-6" draggable="true" data-prix="@item.Prix" data-nom="@item.Nom" data-categorie="@item.Categorie.Nom" data-stock="@item.QuantiteStock" data-id="@item.Id">

                    <div>
                        <a href="@item.Photo" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="@item.Photo" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>@item.Nom</h2>
                                <p>@item.Description</p>
                                <p><span class="price cursive-font">Ar @item.Prix</span></p>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>