@model MyPlaceProject.Services.BaseModelPagination<MyPlaceProject.Models.Commande>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Commande";
}

<h2>Commande</h2>

<p>
    @Html.ActionLink("Créer une nouvelle commande", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Référence
        </th>
        <th>
            @Html.DisplayNameFor(model => model.liste.FirstOrDefault().Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.liste)
    {
        <tr>
            <td>
                Commande N° @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Générer la facture", "Facture", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<ul class="pagination">
    @for (var i = 1; i <= Model.getNbPage(); i++)
    {
        <li class="@(i == Model.page ? "active" : "") ">
            @Html.ActionLink(i.ToString(), "Index", new { page = i, maxResult = Model.maxResult })
        </li>
    }
</ul>
